ul li{
  list-style: none;
}

.App{
  display: grid;
  width: 1250px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "u c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;

}

header{
  grid-area: h;
  background-color: aqua;
}
header img{
  width: 40px;
}

.left-concat{
  grid-area: u;
  background-color: blueviolet;
}
.rigth-concat{
  grid-area: c;
  background-color: blanchedalmond;
}